@tailwind base;
@tailwind components;
@tailwind utilities;

.name {
  text-align: left;
  align-items: flex-start; /* Alinea los elementos .name a la izquierda */
}

.datos {
  text-align: right;
  align-self: flex-end; /* Alinea los elementos .datos a la derecha */
}